# See https://help.github.com/articles/ignoring-files/ for more about ignoring $

# database
*.db

# log
*.log

# secrets
secrets.yaml

# other files
.cloud
.storage
.HA_VERSION
.homekit.state
aircast.xml
core

